
*.swp
*.o
*.exe
*.zip
CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
tags
GA-lapagos
.gitattributes*
*~
*.un~
*.vo
*.bak
galib*
*.gz
PAPERS/*
PSNS_BENCHMARKS/bonnmotion*
TSP_BENCHMARKS/sources*
uftrace*
TSP_BENCHMARKS/f*
TSP_BENCHMARKS/pla*
TSP_BENCHMARKS/r*
TSP_BENCHMARKS/d1655.xml
TSP_BENCHMARKS/d2103.xml
TSP_BENCHMARKS/pcb3038.xml
TSP_BENCHMARKS/pr2392.xml
TSP_BENCHMARKS/u*
TSP_BENCHMARKS/vm*.xml
GA_lapagos/CTestTestfile.cmake
GA_lapagos/SANDBOX/*out*
GA_lapagos/SANDBOX/uftrace.data.old/default.opts
GA_lapagos/SANDBOX/uftrace.data/default.opts
GA_lapagos/SCRIPTS/SANDBOX/
GA_lapagos/TESTS/default*
GA_lapagos/TESTS/*log*
GA_lapagos/Testing/*


